<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>VLC Remote</title>
<script src="jquery.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/base.css" type="text/css" media="screen and (min-device-width: 481px)"  charset="utf-8">

<link rel="stylesheet" href="/mobile.css" type="text/css" media="only screen and (max-device-width: 480px)"  charset="utf-8">

<style type="text/css" media="screen">

</style>

<script type="text/javascript" charset="utf-8">
	function send_command (command) {
		$.get("/cmd/" + command)
	}
</script>	

</head>

<body>
<div id='menu'>
<h3>VLC Remote</h3>
	
<div  name='play' class='menu_item rnd' id='menu_play' onclick='send_command("play");'>PLAY</div>
<span name='previous' class='menu_item rnd' id='menu_previous' onclick='send_command("previous");'>PREV</span>
<span name='next' class='menu_item rnd' id='menu_next' onclick='send_command("next");'>NEXT</span><br/>
<div  name='mute' class='menu_item rnd' id='menu_mute' onclick='send_command("mute");'>MUTE</div>
<span name='volumeDown' class='menu_item rnd' id='menu_volumeDown' onclick='send_command("volumeDown");'>Vol -</span>
<span name='volumeUp' class='menu_item rnd' id='menu_volumeUp' onclick='send_command("volumeUp");'>Vol +</span><br/>
<hr/>
<h3>System Volume</h3>
<% minis = ''
8.times do |n|
	minis << "<span class='menu_item mini' onclick='send_command(\"set volume #{n}\");'>#{n}</span>"
end
%>
<%= minis %>

<br/>by <a style='color:#FF8000;text-decoration:none;' href="http://www.codesponge.com/">CodeSponge</a>!

</div>
</body>
</html>
